import { css } from '@/styles'
import { {{pascalCase name}}Props } from './types'

const selector = css('div', {
  color: 'gainsbro'
})

const {{pascalCase name}} = ({ name }: {{pascalCase name}}Props) => (
  <article className={selector()}>
    <h2>{{pascalCase name}} {name}</h2>
  </article>
)

export default {{pascalCase name}}
