import { {{pascalCase name}}Props } from './types'
import { article } from './styles'

const {{pascalCase name}} = ({ name }: {{pascalCase name}}Props) => (
  <article className={article()}>
    <h2>{{pascalCase name}} Instance</h2>
    <p>{name}</p>
  </article>
)

export default {{pascalCase name}}
